src/main/resources/public/alta.css
src/main/resources/public/index.d.ts
src/main/resources/public/index.js
Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
