<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<!-- Everything <= WARN goes to STDOUT -->
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p: %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="candidate_finder" level="INFO" additivity="false">
			<appender-ref ref="STDOUT" />
		</Logger>
		<Logger name="graph_preprocessor" level="INFO" additivity="false">
			<appender-ref ref="STDOUT" />
		</Logger>
		<Logger name="create_embeddings" level="INFO" additivity="false">
			<appender-ref ref="STDOUT" />
		</Logger>
		<Logger name="embeddings_linker" level="INFO" additivity="false">
			<appender-ref ref="STDOUT" />
		</Logger>
		<Logger name="utils" level="INFO" additivity="false">
			<appender-ref ref="STDOUT" />
		</Logger>
		<Root level="ERROR">
			<AppenderRef ref="STDOUT"/>
		</Root>
	</Loggers>
</Configuration>
