##############################################################
#
# Python package requirements for the graph-creation and
# graphlet-classifier scripts
#
# If you are using Anaconda then you can install all required 
# Python packages by running the following commands in a shell
#
#     conda create --name el python=3
#     source activate el
#     pip install -r requirements.txt
#
##############################################################

ntpath
gzip
